###> symfony/webapp-pack ###
MESSENGER_TRANSPORT_DSN=
###< symfony/webapp-pack ###

###> symfony/framework-bundle ###
APP_ENV=
APP_SECRET=
###< symfony/framework-bundle ###

### application version ###
VERSION=
### application version ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=
###< doctrine/doctrine-bundle ###

###> azure credentials ###
OAUTH_AZURE_CLIENT_ID=
OAUTH_AZURE_CLIENT_SECRET=
OAUTH_AZURE_TENANT_ID=
###> azure credentials ###

###> symfony/sendgrid-mailer ###
MAILER_DSN=
DEVELOPER_EMAIL=
###< symfony/sendgrid-mailer ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=
###< nelmio/cors-bundle ###